.draft_pane{
    -fx-background-color: white;
}
.draft_pane Button{
    -fx-background-color: #006bd4;
    -fx-border-radius: 2;
}
.draft_pane Button:hover{
    -fx-background-color: #1663be;
    -fx-border-radius: 2;
}
.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar:vertical{
    -fx-background-color: #ffffff;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:derive(#006bd4,40%);
    -fx-background-insets: 1.5, 0, 0;
    -fx-background-radius: 2em;
}
.scroll-pane > .corner {
    -fx-background-color: #ffffff;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.increment-arrow, .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.check-box {
    /* default properties */
    selected-box-color: #006bd4;
    box-color: white;
    mark-color: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
    -fx-border-color: 0;
    -fx-border-width: 0;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
    -fx-border-color: lightgrey;
    -fx-border-radius: 2;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: #006bd4;
}